.item {
  padding: .5rem;
  height: 350px;
  width: clamp(200px, 20%, 25%);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  text-align: center;
}

.item img {
  width: 50%;
  max-height: 50%;
}

.item-interface {
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F3EED9;
  background-color: black;
  border: none;
}

.item-interface:active {
  color: black;
  background-color: white;
}

.item-buy {
  color: white;
}