.item {
  width: clamp(200px, 25%, 25%);
}

.item img {
  max-width: 25%;
}

.item-interface {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #986B77;
}
  
.item-interface h3 {
  color: white;
}

.item-buy {
  color: white;
}