.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
  background-color: #E3284D;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.shop-icon {
  margin-right: auto;
}

.active {
border-bottom: white 2px solid;
}

.nav-cart {
  position: relative;
}

.nav-cart-counter {
  font-size: .6rem;
  height: .8rem;
  width: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20%;
  bottom: -10%;
  background-color: white;
  color: #E3284D;
  border-radius: 50%;
 

}