.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
  background-color: #e3284d;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.shop-icon {
  margin-right: auto;
}

.active {
  border-bottom: white 2px solid;
}

.nav-cart {
  position: relative;
  cursor: pointer;
}

.nav-cart-counter {
  font-size: 0.6rem;
  height: 0.8rem;
  width: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20%;
  bottom: -10%;
  background-color: white;
  color: #e3284d;
  border-radius: 50%;
}
