* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
  background-color: #E3284D;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.shop-icon {
  margin-right: auto;
}